.formularioR{
  padding-top: 20px;
}
.formularioL{
  padding: 20px 0 170px 0;
  opacity: 0.8;
  overflow: hidden;
  padding: 0 25px 15px 25px;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;

}
